* {
    font-family: 'Hedvig Letters Serif', serif !important;
}

code {
    font-family: 'Dhurjati', sans-serif !important;
}

h1, h2{
    font-family: 'Montserrat', sans-serif !important;
}

body {
    background-color: #1a1a1a08 !important;
}

.navbar {
    border-radius: 10px;
}